aniso8601==8.0.0
click==7.0
Flask==1.1.1
Flask-JWT-Extended==3.24.0
flask-marshmallow==0.10.1
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
marshmallow==3.0.0rc4
marshmallow-sqlalchemy==0.16.0
mysqlclient==1.4.2
PyJWT==1.7.1
PyMySQL==0.9.3
pytz==2018.9
six==1.12.0
SQLAlchemy==1.2.17
Werkzeug==0.14.1
